/*********************************
 Lists
**********************************/
@use "../modules" as m;

.list-card{
  padding: 50px;
  @include m.flex($gap: 20px, $ai: center, $jc: center,$fw:wrap);
  &__img{
    aspect-ratio: 250/250;
    width: 100%;
    max-width: 250px;
    border-radius: 20px;
    .img__main{
      @include m.transition(transform);
    }
  }
  &__item{
    background-color: m.$white02;
    max-width: 300px;
    padding: 20px;
    border-radius: 20px;
    // @include m.transition(transform);
    // &:hover{
    //     transform: scale(1.1);
    // }
  }
  &__link{
    @include m.flex($ai:flex-start,$fd:column, $jc:center);
    &:hover{
      .img__main{
        transform: scale(1.2);
      }
    }
  }
  &__ttl{
    font-size: 2rem;
    margin-top: 20px;
  }
  &__fav{
    max-width: 50px;
    padding:10px;
    margin-left: auto;
    position: relative;
    z-index: 1;
    top:10px;
    right: 10px;

    &::before{
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      background-color: m.$white;
      border-radius: 100px;
      z-index: -1;
    }
    
  }
}

.list-addItem{
  @include m.flex($gap:20px,$jc:center,$ai:center);
  &__item{
    width: 100%;
    text-align: center;
  }
  &__ttl{
    font-size: 2rem;
    font-weight: 400;
    opacity: .8;
    text-transform: uppercase;
  }
}
.list-favorites{
  @include m.flex($gap:20px,$jc:space-around,$ai:center);
  margin-top: 100px;
  &__item{
    text-align: center;
  }
  &__ttl{
    font-size: 2rem;
    font-weight: 400;
    opacity: .8;
    text-transform: uppercase;
  }
}