/*********************************
 Top Page
**********************************/
@use "../modules" as m;

/* Banner */
.top-banner {
  height: 100dvh;
  max-height: 1080px;

  &__item {
    &--01 { background: m.$gray; }
    &--02 { background: m.$black; }
  }

}


.top-dashboard{
  // width: 75%;
  // margin-left:auto;
}
.search-form{
  @include m.flex($jc:center);
  &__input{
    margin-top: 50px;
    width: 100%;
    max-width: 800px;
    padding: 10px 20px;
    height: 120px;
    border-radius:10px ;
    border: 1px solid m.$green;
    font-size: 2.2rem;
  }
 
}