/*********************************
 Buttons
**********************************/
@use "../modules" as m;

.btn{
    width: 100%;
    &__link{
        background: m.$green;
        color: m.$white;
        font-size: 1.8rem;
        font-weight: 700;
        border-radius: 30px;
        padding: 10px;
        @include m.flex($jc:center);
        @include m.transition(background);

        &:hover{
            background: m.$green02;
        }
    }

}

.btn-01{
    width: 100%;
    max-width: 250px;
    margin: 0 auto;
    &__link{
        background: m.$white;
        color: m.$black;
        font-size: 1.8rem;
        font-weight: 700;
        border-radius: 30px;
        padding: 10px;
        border: 1px solid m.$black;
        @include m.flex($jc:center);
        &--black{
            background: m.$black;
            color: m.$white;
        }
    }

}
