/*********************************
 Buttons
**********************************/
@use "../modules" as m;

.btn{
    width: 100%;
    &__link{
        background: m.$green;
        color: m.$white;
        font-size: 1.8rem;
        font-weight: 700;
        border-radius: 30px;
        padding: 10px;
        @include m.flex($jc:center);
        @include m.transition(background);

        &:hover{
            background: m.$green02;
        }
    }

}